---
title: Bash Logo Media Assets - Download Bash shell logo - Bourne-again shell logo
---
<div class="container">
    <div class="home-header">
        Bash is a Unix shell and command language written by Brian Fox for the GNU Project as a free software replacement for the Bourne shell. Released in 1989, it has been distributed widely as the shell for the GNU operating system and as a default shell on Linux and OS X.<br/>
        <br/>
        In 2015 Prospect One was asked to design a new logo for Bash, after which <a target="_blank" href="https://opensource.com/article/16/12/bash-logo-community">30,000 people voted for the best iteration</a>.  You can download the official bash logo below
    </div>

    <div class="image-group logo">
        <h1>Logo</h1>
        <!-- Full Colored -->
        <div class="columns">
            <!-- Light background -->
            <div class="column">
                <div class="image-wrapper light">
                    <img src="img/logo/svg/full_colored_dark.svg" title="Logo Colored" />
                </div>
                <div class="columns description">
                    <div class="column">
                        Full colored
                        <div class="secondary">Light background</div>
                    </div>
                    <div class="column">
                        <ul class="download-list">
                            <li><a target="_blank" href="img/logo/png/full_colored_dark.png">PNG</a></li>
                            <li><a target="_blank" href="img/logo/jpg/full_colored_dark.jpg">JPEG</a></li>
                            <li><a target="_blank" href="img/logo/svg/full_colored_dark.svg">SVG</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Dark background -->
            <div class="column">
                <div class="image-wrapper dark">
                    <img src="img/logo/svg/full_colored_light.svg" title="Logo Colored" />
                </div>
                <div class="columns description">
                    <div class="column">
                        Full colored
                        <div class="secondary">Dark background</div>
                    </div>
                    <div class="column">
                        <ul class="download-list">
                            <li><a target="_blank" href="img/logo/png/full_colored_light.png">PNG</a></li>
                            <li><a target="_blank" href="img/logo/jpg/full_colored_light.jpg">JPEG</a></li>
                            <li><a target="_blank" href="img/logo/svg/full_colored_light.svg">SVG</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Monochrome -->
        <div class="columns">
            <!-- Light background -->
            <div class="column">
                <div class="image-wrapper light">
                    <img src="img/logo/svg/monochrome_dark.svg" title="Logo Monochrome" />
                </div>
                <div class="columns description">
                    <div class="column">
                        Monochrome
                        <div class="secondary">Light background</div>
                    </div>
                    <div class="column">
                        <ul class="download-list">
                            <li><a target="_blank" href="img/logo/png/monochrome_dark.png">PNG</a></li>
                            <li><a target="_blank" href="img/logo/jpg/monochrome_dark.jpg">JPEG</a></li>
                            <li><a target="_blank" href="img/logo/svg/monochrome_dark.svg">SVG</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Color background -->
            <div class="column">
                <div class="image-wrapper colored">
                    <img src="img/logo/svg/monochrome_light.svg" title="Logo Monochrome" />
                </div>
                <div class="columns description">
                    <div class="column">
                        Monochrome
                        <div class="secondary">Color background</div>
                    </div>
                    <div class="column">
                        <ul class="download-list">
                            <li><a target="_blank" href="img/logo/png/monochrome_dark.png">PNG</a></li>
                            <li><a target="_blank" href="img/logo/jpg/monochrome_dark.jpg">JPEG</a></li>
                            <li><a target="_blank" href="img/logo/svg/monochrome_dark.svg">SVG</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="image-group symbol">
        <h1>Symbol</h1>
        <!-- Full Colored -->
        <div class="columns">
            <!-- Light background -->
            <div class="column">
                <div class="image-wrapper light">
                    <img src="img/symbol/svg/full_colored_dark.svg" title="Symbol Colored" />
                </div>
                <div class="columns description">
                    <div class="column">
                        Full colored
                        <div class="secondary">Light background</div>
                    </div>
                    <div class="column">
                        <ul class="download-list">
                            <li><a target="_blank" href="img/symbol/png/full_colored_dark.png">PNG</a></li>
                            <li><a target="_blank" href="img/symbol/jpg/full_colored_dark.jpg">JPEG</a></li>
                            <li><a target="_blank" href="img/symbol/svg/full_colored_dark.svg">SVG</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Dark background -->
            <div class="column">
                <div class="image-wrapper dark">
                    <img src="img/symbol/svg/full_colored_light.svg" title="Symbol Colored" />
                </div>
                <div class="columns description">
                    <div class="column">
                        Full colored
                        <div class="secondary">Dark background</div>
                    </div>
                    <div class="column">
                        <ul class="download-list">
                            <li><a target="_blank" href="img/symbol/png/full_colored_light.png">PNG</a></li>
                            <li><a target="_blank" href="img/symbol/jpg/full_colored_light.jpg">JPEG</a></li>
                            <li><a target="_blank" href="img/symbol/svg/full_colored_light.svg">SVG</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Monochrome -->
        <div class="columns">
            <!-- Light background -->
            <div class="column">
                <div class="image-wrapper light">
                    <img src="img/symbol/svg/monochrome_dark.svg" title="Symbol Monochrome" />
                </div>
                <div class="columns description">
                    <div class="column">
                        Monochrome
                        <div class="secondary">Light background</div>
                    </div>
                    <div class="column">
                        <ul class="download-list">
                            <li><a target="_blank" href="img/symbol/png/monochrome_dark.png">PNG</a></li>
                            <li><a target="_blank" href="img/symbol/jpg/monochrome_dark.jpg">JPEG</a></li>
                            <li><a target="_blank" href="img/symbol/svg/monochrome_dark.svg">SVG</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Color background -->
            <div class="column">
                <div class="image-wrapper colored">
                    <img src="img/symbol/svg/monochrome_light.svg" title="Symbol Monochrome" />
                </div>
                <div class="columns description">
                    <div class="column">
                        Monochrome
                        <div class="secondary">Color background</div>
                    </div>
                    <div class="column">
                        <ul class="download-list">
                            <li><a target="_blank" href="img/symbol/png/monochrome_light.png">PNG</a></li>
                            <li><a target="_blank" href="img/symbol/jpg/monochrome_light.jpg">JPEG</a></li>
                            <li><a target="_blank" href="img/symbol/svg/monochrome_light.svg">SVG</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="image-group color">
        <h1>Color</h1>
        <div class="columns">
            <!--Dark grey -->
            <div class="column">
                <img src="img/dark_grey.png" title="Dark grey" />
                <div class="description">
                    <div class="color-name">Dark grey</div>
                    <div class="color-item"><span class="secondary">CMYK:</span>20, 0, 5, 90</div>
                    <div class="color-item"><span class="secondary">RGB:</span>41, 49, 55</div>
                    <div class="color-item"><span class="secondary">HEX:</span>#293137</div>
                </div>
            </div>
            <!--Green -->
            <div class="column">
                <img src="img/green.png" title="Green" />
                <div class="description">
                    <div class="color-name">Green</div>
                    <div class="color-item"><span class="secondary">CMYK:</span>75, 2, 100, 0</div>
                    <div class="color-item"><span class="secondary">RGB:</span>78, 170, 37</div>
                    <div class="color-item"><span class="secondary">HEX:</span>#4eaa25</div>
                </div>
            </div>
        </div>
    </div>
    <div class="image-group font">
        <h1>Font</h1>
        <div class="image-wrapper">
            <a href="https://fonts.google.com/specimen/Roboto+Mono" target="_blank" class="font-name regular">Roboto Mono Regular</a>
        </div>
        <div class="image-wrapper">
            <a href="https://fonts.google.com/specimen/Roboto+Mono" target="_blank" class="font-name medium">Roboto Mono Medium</a>
        </div>
    </div>
</div>
