<footer>
    <div class="container">
        <a href="https://prospectone.io/" target="_blank"><img src="img/logo-prospectone.png" title="Prospect One"/></a>
        <h3>Prospect One supports Open Source projects</h3>
        <p>
            If you need a free web design or help with development of your open source project get in touch and we will try to help
        </p>
    </div>
</footer>
