<div class="navbar">
	<div class="container">
		<div class="navbar-left">
			<a href="/" class="navbar-brand"><img class="navbar-logo" src="/img/logo.png" height="60" width="52">Bash Logo Media Assets</a>
		</div>

		<div class="navbar-right">
			{{>navbar_items}}
		</div>
	</div>
</div>
